/* Estilo geral */
html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da tela */
}
body {
    background: #B3D5FC;
    min-height: 100vh !important;
    background-size: cover !important; /* Faz a imagem cobrir todo o fundo */
    background-position: center !important; /* Centraliza a imagem de fundo */
    display: flex imo !important;
    flex-direction: column !important;
    min-height: 100vh !important; /* Garante que o body tenha pelo menos a altura da tela */
    margin: 0 !important;
}



section.hero {
  background: #c62828;
}

.transition, div span i:before, div span i:after, p {
    transition: all 0.25s ease-in-out;
  }
  
  .flipIn, div span, h1 {
    animation: flipdown 0.5s ease both;
  }
  
  .no-select, h1 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  h1 {
    color: #ffebee;
  }
  span h3 {
    background-color: #fff; 
    color: #c62828;
    line-height: 34px;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    padding: 10px;
    border: 12px solid #fff;
    border-radius: 0 0 8px 8px;
  }
  section h1 {
    background-color: #c62828;
    border-radius: 8px 8px 0 0;
    opacity: 0.9;
    align-items: center;
    text-align: center;
    border: 0px solid #ffebee;
    padding: 15px;
  }
  section div {
    padding: 8;
    background-color: #ffebee;
    border-radius: 0 0 8px 8px ;
    opacity: 0.9;
  }
  .elemento {
    background-color: #ffebee; /* Cor de fundo */
    border-left: 5px solid #c62828; /* Borda apenas no lado esquerdo */
    padding: 20px; /* Espaçamento interno */
  }
   /* sentido de alteração do "px" 1°px = top, 2°px = left, 3°px = bottom, 4°px = right*/
  section {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  section span p {
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    border-top:  3px solid #ffebee;
    border-radius: 0 0 8px 8px;
    margin: 5px 20px 0 20px;
  }
  
  div {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  div span {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
  }
  div span:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  div span:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  div span:nth-of-type(3) {
    animation-delay: 1s;
  }
  div span:last-of-type {
    padding-bottom: 0;
  }
  div span i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 2rem;
    right: 25px;
  }
  div span i:before, div span i:after {
    content: "";
    position: absolute;
    background-color: #ff6873;
    width: 3px;
    height: 9px;
  }
  div span i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  div span i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  div span input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  span input{
    display: block;
    width: 100%;
  }
  div span input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  div span input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  div span input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

   span h3:hover {
      color: whitesmoke; /* Muda a cor do texto ao passar o mouse */
      background: #c62828; /* Cor de fundo do efeito antes */


  }
   span h3:hover:before { 
      background: #c62828; /* Cor de fundo do efeito antes */
      inset: 0;
      border-radius: px;
  }

   span h3:before {
      content: "";
      position: absolute;
      background: #266e70; /* Cor de fundo inicial */
      z-index: -1; /* Coloca o fundo atrás do texto */
      inset: 100% 0 0 0;
      transition: all .5s !important; /* Animação suave */
      
  }

  /* Você pode ajustar a altura e a largura do antes se precisar */
