body {
  background-color: #B3D5FC;
  background-repeat: no-repeat;
  background-position: center;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero {
  background-color: #fff;
  flex-direction: column;
  /* max-width: 400px; */
  max-width: 26vw;
}

.hero p,
.hero h1,
.hero h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.hero h2 {
  font-size: 5vh;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #b4adad;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: auto;
  width: 100%;
}


/*.custom-select::after {
    content: '▼'; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    font-size: 16px;
    transition: 0.5s;
}*/

.custom-select {
  position: relative;
  width: 200px;
}

#optEstacao,
#optSentido {
  visibility: hidden;
}

.linha {
  background-color: #e53935; /* Vermelho vibrante */
  text-align: center;
  opacity: 0.8;
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
  height: auto;
  font-size: 16px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none; /* Para Safari */
  -moz-appearance: none; /* Para Firefox */
}

#custom-select {
  display: flex;
  flex-direction: column;
}

#linha:focus {
  outline: none;
  border-color: #007bff;
}

@media (min-width: 400px) and (max-width: 900px) {
  
  .hero {
    max-width: unset;
    width: 70vw;
  }
  .hero h2{
    font-size: 3vh;
  }

}
